<h1>Welcome to <%= ENV['APP_NAME'] %>!</h1>
<p>We are glad to have you here <%= @user.username %></p> 
<p>Duis lacus tellus, volutpat sed orci id, luctus mattis mauris.</p>
<p>Aliquam erat volutpat. Nam scelerisque, elit ut convallis mattis, purus diam efficitur metus, eu faucibus lorem massa semper mauris.</p> 
<p>In vehicula gravida maximus. Nulla facilisi. Ut sagittis viverra dui sed scelerisque.</p> 
<p>Praesent quis tempor sem. Donec id placerat orci. Nam fermentum magna quis ante rutrum ultrices.</p> 
<p>Fusce tincidunt magna in arcu suscipit faucibus. Sed egestas eleifend mi.</p> 
<p>Maecenas sollicitudin viverra ipsum vel varius. Cras consequat nec lorem aliquam rutrum.</p>
