.homepage-main-grid {
  background-image: url("../images/oooscillate.svg");
  background-size: cover;
}
/* Tab */

.css-zruke8-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #f9bb19 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #f9bb19 !important;
}
